/*
* data-page.css
*
* Author: Antony Bello
* Date:   June 3, 2015
*/

Label {
  horizontal-align: center;
  color: white;
}

#layout {
  margin-top: 100;
}

#title {
  margin-bottom: 20;
}

#zones {
  margin-top: 5;
  font-size: 16;
}
