/*
* main-page.css
*
* Author: Antony Bello
* Date:   June 3, 2015
*/

Image {
  margin-top: 120;
  margin-bottom: 10;
  horizontal-align:center;
}

Button {
  color: white;
}

#spotfind {
  horizontal-align: left;
  background-color:white;
  color:#3D60F5;
  margin:15;
}

TextField {
  margin: 15;
  background-color: white;
}
